@model List<HousingSearchApp.Models.Phong_DTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="product-rent bg-white-100 py-8">
    <div class="container">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mr-20 ml-20">
            <div class="md:col-span-3">
                <div class="article-category mt-3">
                    <div class="flex items-center">
                        <a href="javascript:void();" class="text-xl font-bold uppercase"><span>Tin đăng mới nhất</span></a>
                    </div>
                    <hr class="my-2">
                </div>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
                    @foreach (var item in Model)
                    {
                        string controllerName = "";
                        switch (item.MaLoaiPhong)
                        {
                            case "LP00001":
                                {
                                    controllerName = "PhongTro";
                                    break;
                                }
                            case "LP00002":
                                {
                                    controllerName = "NhaNguyenCan";
                                    break;
                                }
                            case "LP00003":
                                {
                                    controllerName = "ChungCuAndCanHo";
                                    break;
                                }
                            case "LP00004":
                                {
                                    controllerName = "OGhep";
                                    break;
                                }
                            default:
                                break;
                        }
                        <a href="@Url.Action("ChiTietPhong", controllerName, new { maPhong = item.MaPhong })" class="block bg-white p-6 rounded-lg shadow-md relative">
                            <div class="product-rent-content-item-img relative" style="text-transform: capitalize;">
                                <img src="~/Image/DuLieu/@(item.TenFileAnh)" alt="Product Image" class="w-full h-48 object-cover mb-4">
                                <div class="absolute top-0 right-0 bg-blue-500 px-2 py-1 text-white rounded-tr-lg rounded-bl-lg">
                                    <p class="font-bold text-xl">@string.Format("{0:N0}", item.GiaThue)<sup>đ</sup>/ tháng</p>
                                </div>
                                <div class="product-bg bg-gray-500 h-px w-1/2 mt-2 mx-auto"></div>
                            </div>
                            <div class="product-rent-content-item-text" style="text-transform: capitalize;">
                                <h1 class="text-xl font-bold mb-2 capitalize">@item.TieuDe</h1>
                                <p><i class="fas fa-map-marker-alt"></i> @item.DiaChi</p>
                                <p><i class="fas fa-home"></i> @item.TenLoaiPhong</p>
                            </div>
                        </a>
                    }
                </div>
                <div class="article-category mt-3">
                    <div class="flex items-center">
                        <a href="javascript:void();" class="text-xl font-bold uppercase"><span>Tin tức mới nhất</span></a>
                        <a href="~/TinTuc/Index" class="text-md uppercase ml-auto hover:text-red-500"><span>Xem tất cả </span></a>
                    </div>
                    <hr class="my-2">
                </div>
                <!--Phần Tin tức-->
                <div class="w-full mt-3 bg-gray-100 rounded-lg shadow-md overflow-hidden">
                    <div class="relative">
                        <div class="flex-shrink-0 overflow-hidden" style="width: 100%; overflow-x: hidden;">
                            <div id="news-wrapper" class="flex transition-transform duration-300 ease-in-out" style="white-space: nowrap;">
                                <!-- Tin tức 1 -->
                                @{Html.RenderAction("getTinTuc", "Home");}
                            </div>
                        </div>
                        <!-- Nút điều hướng -->
                        <div class="absolute top-1/2 -mt-2 flex justify-between w-full">
                            <button class="text-2xl text-gray-700 focus:outline-none" onclick="prevSlide()">◄</button>
                            <button class="text-2xl text-gray-700 focus:outline-none" onclick="nextSlide()">►</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="md:col-span 1">
                <div class="grid grid-cols-1 gap-4">
                    <div class="col-span-1">
                        <div class="sidebar-ads">
                            <img class="w-full h-auto" src="~/Image/Web/decor1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div class="sidebar-social">
                        </div>
                    </div>
                    <div class="col-span-1">
                        <div class="grid grid-cols-1 gap-4">
                            <div class="col-span-1">
                                <div class="sidebar-ads">
                                    <img class="w-full h-auto" src="~/Image/Web/decor2.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-span-1">
                                <div class="sidebar-ads">
                                    <img class="w-full h-auto" src="~/Image/Web/decor3.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

