@model PagedList.IPagedList<HousingSearchApp.Models.TinTuc_DTO>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

<div class="container">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mr-20 ml-20">
        <div class="md:col-span-3">
            <section id="tbay-breadcrumb" class="bg-rose-200 py-2 hidden md:flex">
                <div class="container mx-auto">
                    <div class="flex items-center justify-center h-full">
                        <ol class="flex breadcrumb p-0 m-0">
                            <li><a href="~/Home/Index" class="text-black hover:text-red-500 font-Montserrat hover:no-underline text-sm">Trang chủ</a></li>
                            <li class="mx-2">
                                <span class="content-slash px-2 text-black text-sm">/</span>
                            </li>
                            <li class="font-bold text-black font-Montserrat text-sm self-center">Tin Tức</li>
                        </ol>
                    </div>
                </div>
            </section>
            <div class="article-category mt-3">
                <div class="flex items-center">
                    <a href="javascript:void();" class="text-xl font-bold"><span>Tin tức</span></a>
                </div>
                <hr class="my-2">
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
                @foreach (var item in Model)
                {
                    <div class="max-w-sm mx-auto bg-white rounded-lg overflow-hidden hover:border border-gray-300 hover:shadow-md transition duration-300 pb-8 ">
                        <article id="post-10410" class="post-10410 post type-post status-publish format-standard has-post-thumbnail hentry category-alphabooks category-news">
                            <figure class="entry-thumb mt-2 px-4 pt-4">
                                <div class="relative">
                                    <a class="post-post-thumbnail" href="#" aria-hidden="true">
                                        <img class="w-full h-auto" src="~/Image/DuLieu/@item.TenFileAnh" alt=""decoding="async" fetchpriority="high">
                                    </a>
                                </div>

                            </figure>
                            <div class="entry-content mt-4">
                                <div class="entry-meta mt-4 ml-6">
                                    <h4 class="entry-title">
                                        <a href="@Url.Action("ChiTietTinTuc", "TinTuc", new { maTinTuc = item.MaTinTuc }) class="text-xl font-semibold text-gray-800 hover:text-red-500 transition duration-300">@item.TieuDe</a>
                                    </h4>
                                </div>
                                <div class="meta-info text-xs text-gray-600 mt-2 ml-6 mr-5">
                                    <span class="author"><i class="icon-use"></i> <a href="" title="Đăng bởi nkduong" rel="author"></a></span>
                                    <span class="entry-date">
                                        <i class="far fa-clock"></i> <span class="screen-reader-text"></span>


                                        <a href="#" rel="bookmark" class="hover:text-black"><time class="entry-date published updated ml-1" datetime="2022-10-10T15:50:13+07:00">@item.NgayDang.ToString("MMMM dd, yyyy")</time></a>
                                    </span>
                                    <span class="comments-link m-1"><i class="far fa-comment"></i> <a href="#">0</a></span>
                                </div>
                                <div class="entry-description mt-4 text-gray-700 ml-6 mr-2 mt-2">
                                    <p class="text-[13px]">@(item.TieuDe.Length > 100 ? item.TieuDe.Substring(0, 100) + "..." : item.TieuDe) </p>
                                    <div class="more mt-4">
                                        <a href="@Url.Action("ChiTietTinTuc", "TinTuc", new { maTinTuc = item.MaTinTuc })" class="inline-block bg-black text-white px-4 py-2 rounded hover:bg-red-500 transition duration-500">
                                            Đọc tiếp <i class="icon-arrow-right icons text-white"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                }

            </div>
            <div class="pagination ">
                <span class="pagination__number-indicator"></span>
                <button class="pagination__arrow">
                    <span class="pagination__arrow-half"></span>
                    <span class="pagination__arrow-half"></span>
                </button>
                @for (var i = 1; i <= Model.PageCount; i++)
                {
                    <button class="pagination__number @(i == Model.PageNumber ? "pagination__number--active" : "")">@i</button>
                }
                <button class="pagination__arrow pagination__arrow--right">
                    <span class="pagination__arrow-half"></span>
                    <span class="pagination__arrow-half"></span>
                </button>
            </div>
        </div>
        <div class="md:col-span-1">
            <div class="grid grid-cols-1 gap-4">
                <div class="col-span-1">
                    <div class="search-container bg-gray-200 p-4">
                        <div class="advance-search">
                            <div class="title">
                                <a id="submit_search" href="javascript:void(0);">
                                    <span class="fa fa-search"></span>
                                </a>Tìm kiếm nâng cao
                            </div>
                            <div class="shr mt-2">
                                <hr class="border-t-2 border-gray-300">
                            </div>
                            <form class="form" id="search_form" action="http://phongtot.vn/tim-kiem" method="GET">
                                <div class="form-group tp">
                                    <label for="province" class="block text-sm font-medium text-gray-700">Tỉnh/Thành phố</label>
                                    <select id="province" name="province" class="form-select">
                                        <option value="" disabled selected hidden>Chọn Tỉnh/Thành phố</option>
                                        <option value="79">Hồ Chí Minh</option>
                                        <option value="1">Hà Nội</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="district" class="block text-sm font-medium text-gray-700">Quận/Huyện</label>
                                    <select id="district" name="district" class="form-select">
                                        <option value="" disabled selected hidden>Chọn Quận/Huyện</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="ward" class="block text-sm font-medium text-gray-700">Phường/Xã</label>
                                    <div id="ward-container" class="checkbox-container border rounded p-3 mb-2 bg-white">
                                        <span>Chọn Phường/Xã</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="block text-sm font-medium text-gray-700">Loại phòng</label>
                                    <div class="mt-1">
                                        <div id="roomTypesContainer" class="flex flex-wrap border rounded p-3 mb-2 bg-white"> </div>
                                    </div>
                                </div>
                                <div class="form-group price">
                                    <label class="block text-sm font-medium text-gray-700">Chọn khoảng giá</label>
                                    <div id="price_range" class="range-slider mt-4"></div>
                                    <div class="flex justify-between mt-2">
                                        <span id="price_min" class="text-sm text-gray-600">0 triệu</span>
                                        <span id="price_max" class="text-sm text-gray-600">50 triệu</span>
                                    </div>
                                </div>
                                <div class="form-group submit">
                                    <button type="submit" class="btn btn-slide-search">
                                        <span class="fa fa-search"></span>Tìm kiếm
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="sidebar-ads">
                        <img class="w-full h-auto" src="http://ngoaingu.net/themes/client/img/ads1.png" alt="">
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="sidebar-social">
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="grid grid-cols-1 gap-4">
                        <div class="col-span-1">
                            <div class="sidebar-ads">
                                <img class="w-full h-auto" src="http://media.phongtot.vn/xc5tx4cj/ads-3-min.png" alt="">
                            </div>
                        </div>
                        <div class="col-span-1">
                            <div class="sidebar-ads">
                                <img class="w-full h-auto" src="http://media.phongtot.vn/xc5tx4cj/ads-4-min.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

